 {% extends 'gest_patr/base.html' %}

{% block content %}


        <h1 class='posttitle loader'>{{ bem.nome }}</h1>

        {% if bem.dataPreenchimento %}
            <div class="date postdate">
                {{ bem.dataPreenchimento }}
            </div>
        {% endif %}




          <a class="btn btn-primary" href="{% url 'gest_patr:bem_alterar' pk=bem.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'gest_patr:bem_remover' pk=bem.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-primary" href="{% url 'gest_patr:bens_lista' %}">Voltar</a>


  <hr>

  <div class="container">
    <div class="centerstage">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Número da Ordem</td>
              <td>{{ bem.numOrdem }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <p><strong>Número da Ordem:<strong> {{ bem.numOrdem }}</p>
    <p><strong>Nome do Bem:<strong> {{ bem.nome }}</p>
    <p><strong>UGE:<strong> {{ bem.uge }}</p>
    <p><strong>UGB:<strong> {{ bem.ugb }}</p>
    <p><strong>Sector:<strong> {{ bem.sector }}</p>
    <p><strong>Código de Classificação Geral:<strong> {{ bem.codClassificacaoGeral }}</p>
    <p><strong>Designação:<strong> {{ bem.designacao }}</p>
    <p><strong>Marca:<strong> {{ bem.marca }}</p>
    <p><strong>Número de Série:<strong> {{ bem.numeroSerie }}</p>
    <p><strong>NIP:<strong> {{ bem.NIP }}</p>
    <p><strong>Comprimento:<strong> {{ bem.comprimento }}</p>
    <p><strong>Largura:<strong> {{ bem.largura }}</p>
    <p><strong>Altura:<strong> {{ bem.altura }}</p>
    <p><strong>Cor:<strong> {{ bem.cor }}</p>
    <p><strong>Material Predominante:<strong> {{ bem.materialPredominante }}</p>
    <p><strong>Estado do Bem:<strong> {{ bem.estadoBem }}</p>
    <p><strong>Tipo de Aquisição:<strong> {{ bem.tipoAquisicao }}</p>
    <p><strong>Data de Aquisição:<strong> {{ bem.dataAquisicao }}</p>
    <p><strong>Valor:<strong> {{ bem.valor }}</p>
    <p><strong>Fornecedor:<strong> {{ bem.fornecedor }}</p>
    <p><strong>Tipo de Comprovativo:<strong> {{ bem.tipoComprovativo }}</p>
    <p><strong>Número do Comprovativo:<strong> {{ bem.nroComprovativo }}</p>
    <p><strong>Assistência Técnica:<strong> {{ bem.assistenciaTecnica }}</p>
    <p><strong>Garantia:<strong> {{ bem.garantia }}</p>
    <p><strong>Utilizador:<strong> {{ bem.utilizador }}</p>
    <p><strong>Observações:<strong> {{ bem.observacoes }}</p>
    <p><strong>Preenchido Por:<strong> {{ bem.preenchidoPor }}</p>
    <p><strong>Responsável:<strong> {{ bem.responsavel }}</p>

</div>

{% endblock %}
