{% extends 'gest_patr/base.html' %}

{% block content %}
<h1>Lista de Bens Catalogados
<button type="button" class="btn btn-success topright" onclick="location.href = '{% url 'gest_patr:bem_novo' %}';">Novo Bem</button>
</h1>
<br><br>
<div class="centerstage">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Preenchimento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for bem in bem_list %}
        <tr>
          <td><a href="{% url 'gest_patr:bem_detalhe' pk=bem.pk %}">{{ bem.nome }}</a></td>
          <td>{{ bem.dataPreenchimento|date:"D M Y"}}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="{% url 'gest_patr:bem_alterar' pk=bem.pk %}">Alterar</a>
            <a class="btn btn-danger btn-sm" href="{% url 'gest_patr:bem_remover' pk=bem.pk %}">Remover</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
