 {% extends 'gest_patr/base.html' %}

{% block content %}


        <h1 class='posttitle loader'>{{ bem.nome }}</h1>

        {% if bem.dataPreenchimento %}
            <div class="date postdate">
                {{ bem.dataPreenchimento }}
            </div>
        {% endif %}




          <a class="btn btn-primary" href="{% url 'gest_patr:bem_alterar' pk=bem.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'gest_patr:bem_remover' pk=bem.pk %}"><span class="glyphicon glyphicon-remove"></span></a>



  <hr>

  <div class="container">
          <p><strong>Marca:<strong> {{ bem.marca }}</p>
          <p><strong>Valor: </strong> {{ bem.valor }}</p>
          <p><strong>UGE: </strong> {{ bem.uge }}</p>
          <p class='postcontent' ><strong>Preenchido por: </strong>{{ bem.preenchidoPor }}</p>
</div>

{% endblock %}
