{% extends 'gest_patr/base.html' %}

{% block content %}
<h1>Lista de Fornecedores
<button type="button" class="btn btn-success topright" onclick="location.href = '{% url 'gest_patr:fornecedor_novo' %}';">Novo Fornecedor</button>
</h1>
<br><br>
<div class="centerstage">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>NUIT</th>
          <th>Fornecedor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for fornecedor in fornecedor_list %}
        <tr>
          <td><a href="{% url 'gest_patr:fornecedor_detalhe' pk=fornecedor.pk %}">{{ fornecedor.nuit }}</a></td>
          <td>{{ fornecedor.nome }}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'gest_patr:fornecedor_alterar' pk=fornecedor.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" href="{% url 'gest_patr:fornecedor_remover' pk=fornecedor.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
