{% extends 'gest_patr/base.html' %}

{% block content %}
<h1>Lista de Fornecedores
<button type="button" class="btn btn-success topright" onclick="location.href = '{% url 'gest_patr:fornecedor_novo' %}';">Novo Fornecedor</button>
</h1>
<br><br>
<div class="centerstage">
    {% for uge in uge_list %}
        <div class="bem">

            <h1><a href="{% url 'gest_patr:sector_detalhe' pk=uge.pk %}">{{ uge.designacao }}</a></h1>
            <div class="date">
                <p>Designação: {{ uge.designacao }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
