{% extends 'gest_patr/base.html' %}

{% block content %}
    <h1>
      {% if not form.instance.pk %}
      Novo Sector
      {% else %}
      Atualizar Informações
      {% endif %}
      <button type="button" class="btn btn-success topright" onclick="location.href = '{% url 'gest_patr:sector_lista' %}';">Voltar</button>
    </h1>

    <form method="POST" class="post-form">
    {% csrf_token %}
    <table class="table table-borderless table-hover table-sm">
      {{form.as_table}}
    </table>
    <button type="submit" class="save btn btn-success">Salvar</button>
    </form>

{% endblock %}
