 {% extends 'gest_patr/base.html' %}

{% block content %}


<h1 class='posttitle loader'>{{ sector.nome }}
  <a class="btn btn-success topright" href="{% url 'gest_patr:sector_lista' %}">Voltar</a>
</h1>
<hr>
<br><br>

  <div class="container">
    <div class="centerstage">
      <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td><h6>Código</h6></td>
              <td>{{ sector.cod }}</td>
            </tr>
            <tr>
              <td><h6>UGB</h6></td>
              <td>{{ sector.ugb }}</td>
            </tr>
            <tr>
              <td><h6>Província</h6></td>
              <td>{{ sector.provincia }}</td>
            </tr>
            <tr>
              <td><h6>Distrito</h6></td>
              <td>{{ sector.distrito }}</td>
            </tr>
            <tr>
              <td><h6>Posto Administrativo/Administração da DCU/Municipal</h6></td>
              <td>{{ sector.postAdmin }}</td>
            </tr>
            <tr>
              <td><h6>Localidade</h6></td>
              <td>{{ sector.localidade }}</td>
            </tr>
            <tr>
              <td><h6>classificador Territorial</h6></td>
              <td>{{ sector.classificadorTerr }}</td>
            </tr>
            <tr>
              <td><h6>Bairro</h6></td>
              <td>{{ sector.bairro }}</td>
            </tr>
            <tr>
              <td><h6>Endereço</h6></td>
              <td>{{ sector.endereco }}</td>
            </tr></tbody>
          </table>
        </div>
  </div>
    <br><hr><br>
  <a class="btn btn-primary" href="{% url 'gest_patr:sector_alterar' pk=sector.pk %}">Alterar</a>
  <a class="btn btn-danger" href="{% url 'gest_patr:sector_remover' pk=sector.pk %}">Remover</a>

</div>
{% endblock %}
