 {% extends 'gest_patr/base.html' %}

{% block content %}


<h1 class='posttitle loader'>{{ subsector.nome }}
<a class="btn btn-success topright" href="{% url 'gest_patr:subsector_lista' %}">Voltar</a></h1>
<hr>
<br><br>

  <div class="container">
    <div class="centerstage">
      <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td><h6>Código</h6></td>
              <td>{{ subsector.cod }}</td>
            </tr>
            <tr>
              <td><h6>Sector</h6></td>
              <td>{{ subsector.sector }}</td>
            </tr>
            <tr>
              <td><h6>Nome</h6></td>
              <td>{{ subsector.nome }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
  <br><hr><br>
<a class="btn btn-primary" href="{% url 'gest_patr:subsector_alterar' pk=subsector.pk %}">Alterar</a>
<a class="btn btn-danger" href="{% url 'gest_patr:subsector_remover' pk=subsector.pk %}">Remover</a>

</div>
{% endblock %}
