 {% extends 'gest_patr/base.html' %}

{% block content %}


        <h1 class='posttitle loader'>{{ ugb.designacoes }}</h1>
          <a class="btn btn-primary" href="{% url 'gest_patr:ugb_alterar' pk=ugb.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'gest_patr:ugb_remover' pk=ugb.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
          <a class="btn btn-primary" href="{% url 'gest_patr:ugb_lista' %}">Voltar</a>
  <hr>

  <div class="container">
      <p><strong>Código:<strong> {{ ugb.cod }}</p>
      <p><strong>Designações:<strong> {{ ugb.designacoes }}</p>
</div>

{% endblock %}
