 {% extends 'gest_patr/base.html' %}

{% block content %}


<h1 class='posttitle loader'>{{ ugb.designacoes }}
<a class="btn btn-success topright" href="{% url 'gest_patr:ugb_lista' %}">Voltar</a></h1>
<hr>
<br><br>

  <div class="container">
    <div class="centerstage">
      <div class="table-responsive">
        <table class="table table-hover table-borderless table-sm">
          <tbody>
            <tr>
              <td><h6>Código</h6></td>
              <td>{{ ugb.cod }}</td>
            </tr>
            <tr>
              <td><h6>Designações</h6></td>
              <td>{{ ugb.designacoes }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
  <br><hr><br>
<a class="btn btn-primary" href="{% url 'gest_patr:ugb_alterar' pk=ugb.pk %}">Alterar</a>
<a class="btn btn-danger" href="{% url 'gest_patr:ugb_remover' pk=ugb.pk %}">Remover</a>

</div>
{% endblock %}
