{% extends 'gest_patr/base.html' %}

{% block content %}
<h1>Lista de UGEs
<button type="button" class="btn btn-success topright" onclick="location.href = '{% url 'gest_patr:uge_novo' %}';">Nova UGE</button>
</h1>
<br><br>
<div class="centerstage">
    {% for uge in uge_list %}
        <div>

            <h1><a href="{% url 'gest_patr:uge_detalhe' pk=uge.pk %}">{{ uge.cod }}</a></h1>
            <div >
                <p>Designações: {{ uge.designacoes }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
