{% extends "gest_patr/base.html" %}
{% block content %}
<h1>Sistema de Gestão de Patrimônio</h1>
<p>Sistema utilizado pela Embaixada de Moçambique com o intuito de realizar a gestão de seus bens patrimoniais.</p>
<p>Em direito, patrimônio ou património são os bens, direitos e obrigações de valor econômico e pertencentes a uma pessoa ou empresa. Já em contabilidade, é a parte jurídica e material da azienda.[1]

O patrimônio, como objeto científico da contabilidade, foi proposto pelos seguidores das correntes científicas do patrimonialismo e neopatrimonialismo.

“	Património é o conjunto de direitos subjectivos sobre determinada coisa com valor pecuniário.	”
O patrimônio constitui uma universalidade e é indivisível, não podendo ser desmembrado. Não se admite pluralidade de patrimônios na mesma pessoa, e isso porque, fundamentalmente, se fosse facultado a cada sujeito, a seu exclusivo critério, separar bens do patrimônio e, com eles, formar massas patrimoniais separadas que não possam ser visadas pelos seus credores em geral, seria possível desfalcar impunemente seu patrimônio.</p>

<p>Moçambique, oficialmente designado como República de Moçambique, é um país localizado no sudeste do Continente Africano, banhado pelo Oceano Índico a leste e que faz fronteira com a Tanzânia ao norte; Malawi e Zâmbia a noroeste; Zimbabwe a oeste e Suazilândia e África do Sul a sudoeste. A capital e maior cidade do país é Maputo, anteriormente chamada de Lourenço Marques.</p>
{% endblock %}
