<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/gestao_patrimonio.css' %}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">

  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">


        <ul class="nav navbar-nav">
          <li><a class='navbar-brand bigbrand' href="{% url 'BensMoveisLista' %}">Moçambique</a></li>
          <li><a href="{% url 'about'%}">Sobre</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'bemmovel_novo' %}" >Cadastrar um Novo Bem</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >Log out</a>
          </li>

          <li>
            <a >Welcome: {{ user.username }}</a>
          </li>
            {% else %}
            <!-- span class matches a class whithin bootstrap -->
            <li><a class='nav navbar-right' href="{% url 'login' %}" ><span class="glyphicon glyphicon-user"></span></a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <!-- content block -->
    {# The actual blog posts#}
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
                <div class="blog_posts">
                  {% block content %}
                  {% endblock %}

                </div>

              </div>
          </div>
      </div>

    {# SCRIPTS#}

    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
  </body>
</html>
